.title {
    margin: auto;
    text-align:center;
    width: 1000px;
    padding: 10px
}


.h2{
    margin:auto;
    text-align:center;
    font-size: 64px;
    font-weight: bold;
    padding: 10px
}

.character-selection{
    margin:auto;
    text-align:center;
    width: 1200px;
}
#charDivID{
    float:left;
    margin:auto;
    text-align:center;
    padding:20px;
    width: 50%
}
#frameDataDiv{
    float:right;
    margin:auto;
    width:45%;
    padding-top: 100px
}

#inner-legend{
    margin:auto;
    text-align:left;
    width:50%
}



#tableID{
    margin-left: auto;
    margin-right: auto;
}

#charStoryID{
    margin:auto;
    text-align:left;
    width:50%;
    padding: 20px
}
